.line {
    margin-top: 50px;
    width: 150px;
    height: 0;
    border-bottom: 2px solid red;
    @media (max-width: 1400px) {
        margin-top: 2rem;
    }
    @media (max-width: 576px) {
        margin-top: 1.5rem;
    }
}