.logo {
    a {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        span {
            color: red;
        }
        @media  (max-width: 576px) {
            font-size: 1.5rem;
        }
        small {
            font-size: 0.5em;
            letter-spacing: 0.05rem;
        }
    }
}