/** @format */

.banner {
  background-color: #f3f3f3;
  background-image: url(../../assets/images/banner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &-title {
    h1 {
      line-height: 70px;
      font-weight: 400;
      font-size: 60px;
      span {
        color: red;
      }
    }
    p {
      font-size: 1.3rem;
      span {
        font-size: 2em;
        font-family: "Playfair Display", serif;
        font-family: "Rubik Moonrocks", cursive;
        position: relative;
        &::after {
            position: absolute;
            width: 180px;
            height: 0;
            border-bottom: 3px solid red;
            content:  '';
            bottom: -5px;
            left: 0;
        }
      }
    }
  }
  @media (max-width : 1200px) {
    &-title {
      h1 {
        line-height: 50px;
        font-size: 50px;
      }
      p {
        font-size: 1.2rem;
        span {
          font-size: 1.5em;
        }
      }
    }
}
@media (max-width : 576px) {
  &-title {
    padding: 50px 0;
    h1 {
      line-height: 35px;
      font-size: 35px;
    }
    p {
      span {
        &::after {
            width: 80px;
        }
      }
    }
  }
}
}
